*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
}


img{
    width: 1.5rem;
}


/*
    TYPOGRAPHY
*/

body{
    .title{
        font-size: 2rem;
        font-weight: 700;
        color: #343541;
        text-align: center;
    }

    .head{
        font-size: rem;
        font-weight: 500;
        color: rgb(105, 105, 105);
        text-align: center;
    }

    .tips__content p{
        font-size: .8rem;
        text-align: center;
        color: rgb(90, 89, 89);
    }

    .footer,a{
        color: gray;
        font-size:.85rem;
        text-align: center;
    }
}


/*
    ///////////////////////////
            MEDIA QUERY
*/

//screen below 360px

@media (max-width:768px){
    
    .header{
        background-color: #343541;
        width: 100%;
        margin-bottom: 1em;
        position: fixed;
        top: 0  ;
        z-index: 1;
    }
    .header{

        display: flex;
        flex-direction: row;
        height: 2.4rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 .8em;

        .menu_show{
            background: #343541 url('./menu.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.2rem;
            height: 1.2rem;
            border: none;
        }

        .headertitle::before{
            content: 'New chat';
            color: rgb(199, 199, 199);
            text-align: center;
            font-size: .9rem;
        }

        .menu_hide{
            background: #343541 url('./plus.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.2rem;
            height: 1.2rem;
            border: none;
        }
    }




    .wrapper__left_panel{
        display: none;
    }

    .wrapper__main_panel{
        width: 100%;
        // background-color: aqua;
        margin-top: 10em;
        
    }

    .tips{
        width: 95%;
        max-width: 40rem;
        //background-color: aquamarine;
        margin: 0 auto;
        margin-bottom: 1em;


        
    }


    .tips{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 7em;
    }

    .othercontent{
        display: flex;
        flex-direction: column;
        align-items: top;
        width: 100%;
        margin-top: 2em;

    }

    .tips_items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .8em;
        margin-bottom: 1.5em;
        // width: 80%;
        // background-color: blanchedalmond;
    }

    .head{
        margin-bottom: .8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: .6em;
    }

    .tips__content{
        background-color: #F7F7F8;
        padding: .8em .5em;
        width: 75%;
        // max-width: 25rem;
        border: none;
        border-radius: .7em;
    }





    .footer{
        position: fixed;
        bottom: 0;
        background-color: #F7F7F8;
        padding: 1em 0;
        border-top: 0.1em solid #c2c0c0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .entrybox{
            width: 98%;
            margin: 0 auto;
            background-color: white;
            border-radius: 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .5em ;
        }

        .txtsearc{
            padding: .8em .5em   ;
            width: 90%;
            font-size: .85rem ;
            border: none;
            outline-style: none;
            margin: 0 1em;
        }

        .btnsend{
            background: white url('/paper_plane.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1rem;
            width: 1.7rem;
            height: 1.6rem;
            margin: 0 1em;
            padding-left: 1em;
            border: none;
            background-color: #19C37D;
            border-radius: .4em;
        }

        p{
            padding: 0 1em;
            font-size: .7rem;
        }
    }





}


@media (max-width:639px){
    

    .wrapper__left_panel{
        display: none;
    }

    .wrapper__main_panel{
        width: 100%;
        // background-color: aqua;
        margin-top: 4em;
        
    }

    .tips{
        width: 100%;
        // background-color: aquamarine;
    }


    .othercontent{
        width: 100%;
        // background-color: blueviolet;
    }

    .tips__content{
        width: 90%;
        // background-color: red;
    }


}
